{{ if $.IsHome }}
{{ $pages := (where .Site.RegularPages "Section" "posts")}}
{{ $bored_count := len (where $pages ".Params.Tags" "intersect" (slice "Bored")) }}
<div>
  <p>{{ with $.Site.Params.description }}{{ . }}{{ else }}Terminal{{ end }}
     There are currently {{len (where .Site.RegularPages "Section" "posts")}} main posts published and {{ $bored_count }} posts tagged as bored.</p>
</div>
{{ end }}
 <nav {{ if $.IsHome }} class="navigation-menu" {{ else }} class="navigation-menu-post" {{ end }}> 
  <ul class="navigation-menu__inner menu--desktop">
    {{ if or $.Site.Params.showMenuItems ( eq .Site.Params.showMenuItems 0 ) }}
      {{ range sort first $.Site.Params.showMenuItems $.Site.Menus.main "Weight" }}
        {{ if not .HasChildren }}
          <li><a href="{{ .URL }}" {{ if .Params.NewTab -}} target="_blank" {{- end }}>{{ .Name }}</a></li>
        {{ end }}
      {{ end }}
      {{ if gt (len $.Site.Menus.main) $.Site.Params.showMenuItems }}
        <li>
          <ul class="menu">
            <li class="menu__trigger">{{ $.Site.Params.menuMore }}&nbsp;▾</li>
            <li>
              <ul class="menu__dropdown">
                {{ range last (sub (len $.Site.Menus.main) $.Site.Params.showMenuItems) $.Site.Menus.main }}
                  {{ if not .HasChildren }}
                    <li><a href="{{ .URL }}" {{ if .Params.NewTab -}} target="_blank" {{- end }}>{{ .Name }}</a></li>
                  {{ end }}
                {{ end }}
              </ul>
            </li>
          </ul>
        </li>
      {{ end }}
    {{ else }}
      {{ range $.Site.Menus.main }}
        {{ if not .HasChildren }}
          <li><a href="{{ .URL }}" {{ if .Params.NewTab -}} target="_blank" {{- end }}>{{ .Name }}</a></li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</nav>